{% extends 'TobookBundle::base.html.twig' %}
	{% block title %}Noter un établissement{% endblock %}
{% block ariane %}
	<div class="col-md-12 ariane">
		<div class="col-md-2 ariane-back">
			<h4>< Retour à la liste</h4>
		</div>
		<div class="col-md-10 ariane-content">
			<a>Accueil</a> >
			<a>Tobook</a> >
			<a>Noter un établissement</a>
		</div>
	</div>
{% endblock %}
    {% block body %}
    {% endblock %}