<form method="post" action="{{ path ('send_mail') }}">

  <input name="destinataire" placeholder="destinataire">
  <input name="sujet" placeholder "sujet">
  <textarea name="message" placeholder="contenu du message"></textarea>
  <input type="submit">
</form>

